<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- 기본 리포트 디렉토리 (빈값이면 이 프로그램이 실행되는 위치) -->
		<!-- Defaule report directory (If it is empty, it is the location where this program is executed.) -->
		<add key="DefaultReportDirectoryPath" value=""/>
		<!-- 프로그램 종료시 작업내역 저장할건지 물어보기 여부 -->
		<!-- Whether to ask if you want to save the work history when you exit the program -->
		<add key="IsAppCloseTimeSaveWorkSourceQuestion" value="FALSE"/>
		<!-- 저장할 때 비밀번호도 포함할건지 여부 (암호화 없음) -->
		<!-- Whether to include the password when saving (no encrypt) -->
		<add key="IsSaveWorkSourceWithPassword" value="FALSE"/>
		<!-- 저장할 때 이전에 저장된 정보 백업여부 -->
		<!-- Whether to back up previously saved information when saving -->
		<add key="IsSaveWorkSourceBeforeBackupWorkSource" value="FALSE"/>
		<!-- 직접입력 항목이 기본값인지 여부 -->
		<!-- Whether the direct input item is the default value -->
		<add key="IsDefaultUserManualConnectionStringMode" value="FALSE"/>
		<!-- 언어 한글여부 -->
		<!-- Whether the language is Korean -->
		<add key="IsStartAppKoreaHanGulLanguage" value="TRUE"/>
	</appSettings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>